force-app/main/default/flows/Create_Opportunity_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Apex action that return value of Closing Time.</description>
        <name>GetClosingTime</name>
        <label>Get Closing Time</label>
        <locationX>1415</locationX>
        <locationY>60</locationY>
        <actionName>GetAverageClosingTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OpportunityTemplate</targetReference>
        </connector>
        <inputParameters>
            <name>accs</name>
            <value>
                <elementReference>CurrentAccountRecord</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Getting Ammount of Opportunities that has StageName equals Closed Won value.</description>
        <name>AmountOfOpportunities</name>
        <label>Amount Of Opportunities</label>
        <locationX>1228</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>CountOfOpportunities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetClosingTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContentDocs</name>
        <label>Assign Content Docs</label>
        <locationX>970</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>NewContentDoc.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCreatedOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContentDoc.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateAllExistingDocs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContentDoc.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PutNewContentDocs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_existing_content_docs</name>
        <label>List of existing content docs</label>
        <locationX>655</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>ListExistingContentDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindExistingContentDocs_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateAllExistingDocs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PutNewContentDocs</name>
        <label>Put New Content Docs</label>
        <locationX>1104</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>ListNewContentDocs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContentDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateAllExistingDocs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIsStandartValue</name>
        <label>Set IsStandard Value</label>
        <locationX>803</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>GetPriceBookRecord.IsStandard</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePriceBookRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadSource</name>
        <label>SetLeadSource</label>
        <locationX>510</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>GetCreatedOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetLeadSourceFieldValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPriceBookRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckTogglesStatement</name>
        <label>Check Toggles Statement</label>
        <locationX>724</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckFirstCheckbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CopyAllDocs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindExistingContentDocs_0</targetReference>
            </connector>
            <label>Check First Checkbox</label>
        </rules>
        <rules>
            <name>CheckSecondCheckbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateOpportunityContactRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOpportunityContactRoleRecord</targetReference>
            </connector>
            <label>Check Second Checkbox</label>
        </rules>
    </decisions>
    <formulas>
        <description>Default name of Opportynity record consists of Account Name, Amount and Created Date values.</description>
        <name>DefaultOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!CurrentAccountRecord.Name} &amp; &quot;---&quot; &amp; TEXT({!CountOfOpportunities}) &amp; &quot;---&quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>SetLeadSourceFieldValue</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!CurrentAccountRecord.Industry}, &quot;Telecommunications&quot;), &quot;Web&quot;, &quot;Other&quot;)</expression>
    </formulas>
    <interviewLabel>Create Opportunity Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity Template</label>
    <loops>
        <name>IterateAllExistingDocs</name>
        <label>Iterate All Existing Docs</label>
        <locationX>779</locationX>
        <locationY>557</locationY>
        <collectionReference>ListExistingContentDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContentDocs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewContentDocs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewContentDocs</name>
        <label>Create New Content Docs</label>
        <locationX>997</locationX>
        <locationY>604</locationY>
        <inputReference>ListNewContentDocs</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creating of Opportunity with preconfigured fields of screen components.</description>
        <name>CreateNewOpportunityTemplete</name>
        <label>Create New Opportunity Templete</label>
        <locationX>1306</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>GetCreatedOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunityContactRoleRecord</name>
        <label>Create Opportunity Contact Role Record</label>
        <locationX>918</locationX>
        <locationY>328</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>GetCreatedOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePriceBookRecord</name>
        <label>Create Price Book Record</label>
        <locationX>1046</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>GetPriceBookRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>NewPriceBook</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>PriceBook#1</stringValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task1</name>
        <label>Task1</label>
        <locationX>358</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Task2</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCreatedOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Input required</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task2</name>
        <label>Task2</label>
        <locationX>198</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Task3</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCreatedOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task3</name>
        <label>Task3</label>
        <locationX>50</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>Task4</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCreatedOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow-up</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task4</name>
        <label>Task4</label>
        <locationX>192</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Task5</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCreatedOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task5</name>
        <label>Task5</label>
        <locationX>342</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>UpdateCreatedOpportunityRecord_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCreatedOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Getting current Account record.</description>
        <name>CurrentAccountRecord</name>
        <label>Current Account Record</label>
        <locationX>930</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindExistingContentDocs_0</name>
        <label>Find Existing Content Docs</label>
        <locationX>507</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_existing_content_docs</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentAccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCreatedOpportunity</name>
        <label>GetCreatedOpportunity</label>
        <locationX>1171</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePriceBookRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateNewOpportunityTemplete</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting a collection of all Opportunities that meet the conditions.</description>
        <name>GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>1064</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AmountOfOpportunities</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookRecord</name>
        <label>Get PriceBook Record</label>
        <locationX>928</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIsStandartValue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatePriceBookRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCreatedOpportunityRecord_0_0</name>
        <label>Update Created Opportunity Record</label>
        <locationX>518</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>CheckTogglesStatement</targetReference>
        </connector>
        <inputReference>GetCreatedOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePriceBookRecord</name>
        <label>Update PriceBook Record</label>
        <locationX>656</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>SetLeadSource</targetReference>
        </connector>
        <inputReference>GetPriceBookRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>OpportunityTemplate</name>
        <label>Opportunity Template</label>
        <locationX>1445</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateNewOpportunityTemplete</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultOpportunityName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CountOfOpportunities</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetClosingTime</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CopyAllDocs</name>
            <dataType>Boolean</dataType>
            <fieldText>Copy All Docs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CreateOpportunityContactRole</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Opportunity Contact Role</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>501</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CurrentAccountRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreateOppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ExistingContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ListExistingContentDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ListNewContentDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewTaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
